<%- include("partials/header", { isLoggedIn: isLoggedIn, user: user }) %>

    <% guilds.forEach(guild => { %>
        <form action="/dashboard/<%= guild.id %>" method="GET">
            <button type="submit" class="btn btn-outline-dark"><%= guild.name %></button>
        </form>
    <% }); %>

<%- include('./partials/footer.ejs') %>