<%- include("partials/header", { isLoggedIn: isLoggedIn, user: user }) %>
        <section id="heading">
            <div class="container-fluid bg-image d-flex align-items-center">
                <div class="container text-center text-dark">
                    <h1 class="display-2">BanHammer3000</h1>
                    <p class="lead">A clan's plan for spam, it's the fan of the ban. No scam can withstand, it's the
                        guardian of your land!</p>
                </div>
            </div>
        </section>
    </body>
    <%- include("partials/footer") %>